body{
    font-family: 'Aboreto', cursive;
margin: 0;
padding: 0;
background-image: url("https://ichef.bbci.co.uk/news/640/cpsprodpb/888C/production/_128065943_gettyimages-1450389057.jpg");
/* background-image -> Fondo de la pagina */
background-size: cover;
backdrop-filter: blur(5px);
height: 150vh;
display: flex;
flex-direction: column;
justify-content: space-between;
width: 100%;

}
/*Clase Cabecera*/
.header-container{
background-color: rgba(19,212,237,0.8);
display: flex;
align-items: center;
justify-content: center;
}
.logo{
    width: 60px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 4px 40px;
}

/* Barra de navegacion */
.nav-container >h2{
margin: 0;
text-align: center;
}

.section-container{
    color: white;
    text-shadow: 0 2px 2px black;
    text-align: justify;
    margin: 0 40px;
}
.list1{
    color: white;
    text-shadow: 0 2px 2px black;
    text-align: justify;
    margin: 0 20px;
}
.list1 li{
    text-shadow: 0 2px 2px black;
}
.footer-conteiner{
    background-color: rgba(19,212,237,0.8);
    display: flex;
    justify-content: center;
    gap: 20px;
}
.footer-conteiner > h3{
    color: white;
    text-shadow: 0 2px 2px black;
    text-align: justify;
   
}